.fa-trash{
    width: 100px;
    height: 10px;
    font-size: 25px;
}

.plus{
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 25px;
}


textarea{
    text-decoration: none;
    border: 1px solid black;
    margin-left: 10px;
}

.bg-dark{
    height: 50px;
    display: flex;
    flex-direction: row;
}


.gole{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(58, 59, 59);
    width: 25%;
    height: 60px;
}

.circle-1{
    position: relative;
    background-color: red;
    width: 38px;
    height: 33px;
    border-radius: 10px;
    cursor: pointer;
}

.circle-2{
    position: relative;
    background-color: blue;
    width: 38px;
    height: 33px;
    border-radius: 10px;
    cursor: pointer;
}

.circle-3{
    position: relative;
    background-color: green;
    width: 38px;
    height: 33px;
    border-radius: 10px;
    cursor: pointer;
}

.circle-4{
    position: relative;
    background-color: black;
    width: 38px;
    height: 33px;
    border-radius: 10px;
    cursor: pointer;
}